<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MedicalWebPage",
  "name": {{ page.title | jsonify }},
  {% if page.author %}"author": {
    "@type": "Physician",
    "name": {{ page.author | jsonify }}
  },{% endif %}
  {% if page.hospital %}"publisher": {
    "@type": "MedicalOrganization",
    "name": {{ page.hospital | jsonify }}
  },{% endif %}
  {% if page.last_updated %}"dateModified": "{{ page.last_updated }}",{% endif %}
  {% if page.description %}"description": {{ page.description | jsonify }},{% endif %}
  {% if page.canonical_url %}"mainEntityOfPage": "{{ page.canonical_url }}",{% endif %}
  "inLanguage": "ko",
  "url": "{{ page.url | absolute_url }}"
}
</script>
